/stoa
/bin/
coverage.out
coverage.html
uploads/
config.yaml
*.env
.env
node_modules/
admin/build/
admin/.svelte-kit/
storefront/build/
storefront/.svelte-kit/
project
commerce
internal/admin/build
internal/storefront/build
